################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Universe
/Universe.Common/bin/Debug/net9.0
/Universe.Common/obj
/Universe.Core/bin/Debug/net9.0
/Universe.Core/obj
/Universe.DataAccess/bin/Debug/net9.0
/Universe.DataAccess/obj
/.vs/ProjectEvaluation
/Universe.Service/bin/Debug/net9.0
/Universe.Service/obj
/Universe.Presentation/bin/Debug/net9.0
/Universe.Presentation/obj
/Universe.WebApi/bin/Debug/net9.0
/Universe.WebApi/obj
/Universe.WebApi/Universe.WebApi.csproj.user
/Universe.UI/bin/Debug/net9.0
/Universe.UI/obj
/Universe.slnLaunch.user
/Universe.UI/Universe.UI.csproj.user
/.vs
