################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Universe
/Universe.Common/bin/Debug/net9.0
/Universe.Common/obj
