################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Universe/v17
/.vs/Universe/CopilotIndices/17.13.441.19478
/.vs/Universe/FileContentIndex
/Universe.Domain/obj
/Universe.Domain/bin/Debug/net9.0
/Universe.Infrastructure/bin/Debug/net9.0
/Universe.Infrastructure/obj
