@page "/announcelog"
@inject HttpClient Http

<h3>AnnounceLog</h3>

@code
{
    private AnnounceLogResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<AnnounceLogResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}