@page "/emoji"
@inject HttpClient Http

<h3>Emoji</h3>

@code
{
    private EmojiResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<EmojiResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}