@page "/jobposting"
@inject HttpClient Http

<h3>JobPosting</h3>

@code
{
    private JobPostingResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<JobPostingResponse>("https://localhost:7255/api/jobposting");
    }
}