@page "/jobpostingapply"
@inject HttpClient Http

<h3>JobPostingApply</h3>

@code
{
    private JobPostingApplyResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<JobPostingApplyResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}