@page "/jobpostingdetail"
@inject HttpClient Http


<h3>JobPostingDetail</h3>

@code
{
    private JobPostingDetailResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<JobPostingDetailResponse>("https://localhost:7255/api/jobpostingdetail");
    }
}