@page "/language"
@inject HttpClient Http

<h3>Language</h3>

@code
{
    private LanguageResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<LanguageResponse>("https://localhost:7255/api/language");
    }
}