@page "/management"
@inject HttpClient Http

<h3>Management</h3>

@code
{
    private ManagementResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ManagementResponse>("https://localhost:7255/api/management");
    }
}