@page "/managementemail"
@inject HttpClient Http

<h3>ManagementEmail</h3>

@code
{
    private ManagementEmailResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ManagementEmailResponse>("https://localhost:7255/api/managementemail");
    }
}