@page "/managementcontact"
@inject HttpClient Http

<h3>ManagementContact</h3>

@code
{
    private ManagementContactResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ManagementContactResponse>("https://localhost:7255/api/managementcontact");
    }
}