@page "/management"
@inject HttpClient Http

<h3>Management</h3>

@code
{
    private ManagementResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ManagementResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}