@page "/messagebox"
@inject HttpClient Http

<h3>MessageBox</h3>

@code
{
    private MessageBoxResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<MessageBoxResponse>("https://localhost:7255/api/messagebox");
    }
}