@page "/networkcomment"
@inject HttpClient Http

<h3>NetworkComment</h3>

@code
{
    private NetworkCommentResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<NetworkCommentResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}