@page "/networkdetail"
@inject HttpClient Http

<h3>NetworkDetail</h3>

@code
{
    private NetworkDetailResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<NetworkDetailResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}