@page "/networkdetail"
@inject HttpClient Http

<h3>NetworkDetail</h3>

@code
{
    private NetworkDetailResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<NetworkDetailResponse>("https://localhost:7255/api/networkdetail");
    }
}