@page "/networkcomment"
@inject HttpClient Http

<h3>NetworkComment</h3>

@code
{
    private NetworkCommentResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<NetworkCommentResponse>("https://localhost:7255/api/networkcomment");
    }
}