@page "/occupation"
@inject HttpClient Http

<h3>Occupation</h3>

@code
{
    private OccupationResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<OccupationResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}