@page "/region"
@inject HttpClient Http

<h3>Region</h3>

@code
{
    private RegionResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<RegionResponse>("https://localhost:7255/api/region");
    }
}