@page "/surveylog"
@inject HttpClient Http

<h3>SurveyLog</h3>

@code
{
    private SurveyLogResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<SurveyLogResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}