@page "/surveylog"
@inject HttpClient Http

<h3>SurveyLog</h3>

@code
{
    private SurveyLogResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<SurveyLogResponse>("https://localhost:7255/api/surveylog");
    }
}