@page "/surveyhistory"
@inject HttpClient Http

<h3>SurveyHistory</h3>

@code
{
    private SurveyHistoryResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<SurveyHistoryResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}