@page "/survey"
@inject HttpClient Http

<h3>Survey</h3>

@code
{
    private SurveyResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<SurveyResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}