@page "/userlanguage"
@inject HttpClient Http

<h3>UserLanguage</h3>

@code
{
    private UserLanguageResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserLanguageResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}