@page "/usersettings"
@inject HttpClient Http

<h3>UserSettings</h3>

@code
{
    private UserSettingsResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserSettingsResponse>("https://localhost:7255/api/usersettings");
    }
}