@page "/userfollower"
@inject HttpClient Http

<h3>UserFollower</h3>

@code
{
    private UserFollowerResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserFollowerResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}