@page "/usercertificate"
@inject HttpClient Http

<h3>UserCertificate</h3>

@code
{
    private UserCertificateResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserCertificateResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}