@page "/uservideo"
@inject HttpClient Http

<h3>UserVideo</h3>

@code
{
    private UserVideoResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserVideoResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}