@page "/userfollower"
@inject HttpClient Http

<h3>UserFollower</h3>

@code
{
    private UserFollowerResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserFollowerResponse>("https://localhost:7255/api/userfollower");
    }
}