@page "/userproject"
@inject HttpClient Http

<h3>UserProject</h3>

@code
{
    private UserProjectResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserProjectResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}