@page "/userabout"
@inject HttpClient Http

<h3>UserAbout</h3>

@code
{
    private UserAboutResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserAboutResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}