@page "/userpublish"
@inject HttpClient Http

<h3>UserPublish</h3>

@code
{
    private UserPublishResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserPublishResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}