@page "/userproject"
@inject HttpClient Http

<h3>UserProject</h3>

@code
{
    private UserProjectResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserProjectResponse>("https://localhost:7255/api/userproject");
    }
}