@page "/usersettings"
@inject HttpClient Http

<h3>UserSettings</h3>

@code
{
    private UserSettingsResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserSettingsResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}