@page "/usernetwork"
@inject HttpClient Http

<h3>UserNetwork</h3>

@code
{
    private UserNetworkResponse Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<UserNetworkResponse>("http://192.168.1.100/api/administrator?id=2&option=5");
    }
}